<nav class="nav-modern">
  <div class="nav-content">
    <div class="brand"><div class="logo-univibe-serif" routerLink="/home-estudiante">U</div></div>
    <ul class="menu">
      <li><a routerLink="/home-estudiante" routerLinkActive="active-link">Descubrir</a></li>
      <li><a routerLink="/solicitudes-estudiante" routerLinkActive="active-link">Solicitudes</a></li>
      <li><a routerLink="/mi-perfil" routerLinkActive="active-link">Perfil</a></li>
    </ul>
    <div class="user-actions">
      <div class="profile-circle">
        <img src="https://i.pravatar.cc/100" alt="User">

      </div>
              <i class="fa-solid fa-angle-up arrow-options" style="color: #ffffff;" (click)="showOptions()"  *ngIf="!options" ></i>
              <i class="fa-solid fa-angle-down arrow-options" style="color: #ffffff;" (click)="showOptions()"  *ngIf="options" ></i>
      <div class="options" *ngIf="options">
        <p (click)="logout()" style="cursor: pointer;" >Cerrar Sesion</p>

      </div>
    </div>
  </div>
</nav>
