<div class="wrapper-solicitudes">
  <nav class="nav-modern">
    <div class="nav-content">
      <div class="brand">
        <div class="logo-univibe-serif" routerLink="/home-estudiante">U</div>
      </div>
      <ul class="menu">
        <li><a routerLink="/home-estudiante" routerLinkActive="active-link">Descubrir</a></li>
        <li><a routerLink="/solicitudes-estudiante" routerLinkActive="active-link">Solicitudes</a></li>
        <li><a href="#">Perfil</a></li>
      </ul>
      <div class="user-actions">
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-power-off"></i>
        <div class="profile-circle">
          <img src="https://i.pravatar.cc/100" alt="User">
        </div>
      </div>
    </div>
  </nav>

  <main class="app-container no-scroll">
    <div class="solicitudes-wrapper">
      
      <div class="section-title-modern">
        <h2>Gestión de Solicitudes</h2>
      </div>

      <section class="main-card solicitudes-card dual-column">
        
        <div class="solicitudes-column">
          <div class="column-header">
            <h3>Enviadas <span>6</span></h3>
          </div>
 
            <article class="house-item mini" style="background-image: url('assets/casa1.jpg')">
              <div class="house-overlay">
                <img src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?w=1200" alt="Piso moderno amueblado" class="solicitud-imagen">
                <div class="house-info">
                  <span class="house-name">Casa Albaicín</span>
                  <span class="precio">800€</span>
                  <span class="ver"><i class="fa-regular fa-eye"></i></span>
                </div>
              </div>
            </article>
         
        </div>

        <div class="vertical-divider"></div>

        <div class="solicitudes-column">
          <div class="column-header">
            <h3>Aceptadas <span>2</span></h3>
          </div>

            <article class="house-item mini" style="background-image: url('assets/casa2.jpg')">
              <div class="house-overlay">
                <img src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?w=1200" alt="Piso moderno amueblado" class="solicitud-imagen">
                <div class="house-info">
                  <span class="house-name">Casa Albaicín</span>
                  <span class="precio">800€</span>
                  <span class="ver"><i class="fa-regular fa-eye"></i></span>
                </div>
              </div>
              <div class="house-overlay">
                <img src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?w=1200" alt="Piso moderno amueblado" class="solicitud-imagen">
                <div class="house-info">
                  <span class="house-name">Casa Albaicín</span>
                  <span class="precio">800€</span>
                  <span class="ver"><i class="fa-regular fa-eye"></i></span>
                </div>
              </div>
              <div class="house-overlay">
                <img src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?w=1200" alt="Piso moderno amueblado" class="solicitud-imagen">
                <div class="house-info">
                  <span class="house-name">Casa Albaicín</span>
                  <span class="precio">800€</span>
                  <span class="ver"><i class="fa-regular fa-eye"></i></span>
                </div>
              </div>
            </article>
    
        </div>

      </section>
    </div>
  </main>

</div>