<div class="wrapper-atributos">
  <nav class="nav-modern">
    <div class="nav-content">
      <div class="brand">
        <div class="logo-univibe-serif" routerLink="/home-estudiante">U</div>
      </div>
      <ul class="menu">
        <li><a routerLink="/home-estudiante">Descubrir</a></li>
        <li><a routerLink="/solicitudes-estudiante" class="active-link">Solicitudes</a></li>
        <li><a href="#">Perfil</a></li>
      </ul>
      <div class="user-actions">
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-power-off"></i>
        <div class="profile-circle">
          <img src="https://i.pravatar.cc/100" alt="User">
        </div>
      </div>
    </div>
  </nav>

  <main class="app-container">
    
    <div class="solicitudes-wrapper">
      
      <div class="tabs-header">
        <button class="tab-btn active">Enviadas</button>
        <button class="tab-btn inactive">Aceptadas</button>
      </div>

      <section class="main-card solicitudes-card">
        
        <div class="houses-grid">
          
          <article class="house-item">
            <span class="house-name">CASA 1</span>
          </article>
          
          <article class="house-item">
            <span class="house-name">CASA 2</span>
          </article>

          <article class="house-item">
            <span class="house-name">CASA 3</span>
          </article>

          <article class="house-item">
            <span class="house-name">CASA 4</span>
          </article>

          <article class="house-item">
            <span class="house-name">CASA 5</span>
          </article>

          <article class="house-item">
            <span class="house-name">CASA 6</span>
          </article>

        </div>

        <button class="nav-arrow-next">
          <i class="fa-solid fa-arrow-right"></i>
        </button>

      </section>

    </div>
  </main>
</div>