<section class="attributes-section">
  <div class="attributes-container">
    <h2 class="selection-title">Elección de Atributos</h2>
    <p class="selection-subtitle">
      Selecciona los adjetivos que mejor te describen para encontrar a tus compañeros ideales.
    </p>



    <div class="attributes-grid">


      <label class="attr-tag" *ngFor="let atr of atributos">
        <input type="checkbox" name="attr" [value]="atr.id" (change)="chooseAttr($event, atr.id)">
        <div class="tag-content">
      
          <span class="material-symbols-outlined">
            {{atr.icono}}
          </span>
          <span>{{atr.nombre}}</span>
        </div>

      </label>
    </div>

    <div class="action-area">
      <button class="btn-modern" (click)="sendAtributos()" >Confirmar Atributos</button>
    </div>
    <i (click)="mostrarInfo()" class="fa-solid fa-info info" style="margin-top:25px;"></i>
    <p class="selection-subtitle" *ngIf="textoInformativo">
      <strong>Personaliza tu búsqueda.</strong> Los atributos que selecciones nos ayudarán a filtrar
      posibles compañeros que compartan tu estilo de vida, asegurando una convivencia armoniosa y
      una mejor experiencia en tu nuevo hogar.
    </p>
  </div>
</section>