<section class="profile-section">
  <div class="app-container">
    <div class="profile-container">
      <div class="profile-main-card" @enterPerfil *ngIf="perfil">
        <div class="profile-header">
          <div class="avatar-wrapper">
            <div class="profile-img">
              <!-- COMPRUEBA SI LA FOTO CONTIENE LOS DATOS REALES DE LA FOTO,SI NO IMAGEN PREDETERMINADA -->
              <img
                [src]="userData.userPhoto.includes('data:') ? userData.userPhoto : './assets/img/avatar_default.png'" />
            </div>

            <input type="file" #fileInput style="display: none" accept="image/*" (change)="nombreFoto($event)" />

            <button type="button" class="btn-edit-photo" (click)="fileInput.click()">
              <i class="fa-solid fa-camera"></i>
            </button>


          </div>
          <div class="profile-intro">
            <h2>{{ userName }}</h2>
            <p class="perfil-p">Completa tu perfil para empezar</p>
            <p class="p-description">Te recomendamos que subas una foto. A menos que seas Batman y quieras proteger tu
              identidad...</p>

          </div>
        </div>

        <div class="profile-form-grid">
          <div class="input-group">
            <label>Nombre Completo</label>
            <p class="p-userInfo">{{ userName }}</p>
          </div>

          <div class="input-group">
            <label>Correo Electrónico</label>
            <p class="p-userInfo">{{ userEmail }}</p>
          </div>

          <div class="input-group">
            <label>Teléfono</label>
            <input type="text" placeholder="600 000 000" [(ngModel)]="userData.userPhone"
              (ngModelChange)="validacionTelefono()" />
            <div *ngIf="userData.userPhone.length >= 1">
              <p  class="phone-valid" *ngIf="telefonoValido;else elsePhone">Télefono valido</p>
              <ng-template #elsePhone>
                <p class="phone-noValid">Télefono no válido</p>
              </ng-template>
            </div>
          </div>

          <div class="input-group">
            <label>Grado / Carrera</label>
            <select class="select-uni" [(ngModel)]="userData.userCareer" (ngModelChange)="validacionCarrera()">
              <option value="" disabled selected>Selecciona tu carrera</option>
              <option *ngFor="let car of carreras" [value]="car.id">{{ car.nombre }}</option>
            </select>

          </div>

          <div class="input-group full-width">
            <div class="info-description">
              <label>Descripción (Máx 200 caracteres)</label>
              <div *ngIf="userData.userDescription.length > 1" class="info-description-text">
                <p *ngIf="userData.userDescription.length < 10;">
                  Algo mas puedes poner de ti,anímate.Si no no puedes completar tu perfil
                </p>
                <p *ngIf="userData.userDescription.length >= 10 && userData.userDescription.length <= 200">
                  Así perfecto
                </p>
                <p *ngIf="userData.userDescription.length > 200">
                  Escribe un poco menos
                </p>
              </div>
            </div>

            <textarea (input)="validacionDescripcion()"
              placeholder="Cuéntanos un poco sobre ti... (hobbies, manías, qué buscas)"
              [(ngModel)]="userData.userDescription"></textarea>

          </div>

          <div class="input-group">
            <label>Universidad</label>
            <select class="select-uni" [(ngModel)]="userData.userUni" (ngModelChange)="validacionUniversidad()">
              <option value="" disabled selected>Selecciona tu universidad</option>
              <option *ngFor="let uni of unis" [value]="uni.id">
                {{ uni.siglas }} - {{ uni.nombre }}
              </option>
            </select>
          </div>

          <div class="info-uni">
            <div class="info-uni-icon">
              <i class="fa-solid fa-circle-info"></i>
            </div>
            <div class="info-uni-content">
              <h4>¿Por qué pedimos tu universidad?</h4>
              <p>
                Necesitamos saber dónde estudias para mostrarte los alojamientos más cercanos y
                conectarte con compañeros de tu misma facultad.
              </p>
            </div>
          </div>
          <button class="complete-profile" (click)="postDatos()" [disabled]="!permitirPostDatos">
            Completar Perfil
          </button>
        </div>
      </div>
      <aside class="profile-sidebar-card" @enterSideBar *ngIf="perfil">
        <div class="sidebar-header">
          <h3>Vibe & Estilo de Vida</h3>
          <span class="counter">{{ atributosUsuario.length }}</span>
        </div>

        <div class="attributes-container" *ngIf="atributosUsuarioObject">
          <span class="attribute-pill" *ngFor="let atr of atributosUsuarioObject">
            <i class="material-symbols-outlined">{{ atr.icono }}</i> {{ atr.nombre }}
          </span>
        </div>
      </aside>

      <!--   <aside class="profile-sidebar-card">
        AÑADIR IF PARA EL REGISTRO DE PERFIL PARA SI HAY PISOS O NO -->
      <!-- <div class="sidebar-header">
          <h3>Mis Solicitudes</h3>
          <span class="counter">3</span>
        </div>

        <div class="houses-list">
          <article class="mini-house-card accepted">
            <div class="mini-img-wrapper">
              <img src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?w=400" alt="Piso">
              <div class="status-dot"></div>
            </div>
            <div class="mini-info">
              <h4>Casa Albaicín</h4>
              <span class="mini-price">300€/mes</span>
              <span class="status-text">Aceptado</span>
            </div>
          </article>

          <article class="mini-house-card pending">
            <div class="mini-img-wrapper">
              <img src="https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=400" alt="Piso">
            </div>
            <div class="mini-info">
              <h4>Loft Centro</h4>
              <span class="mini-price">450€/mes</span>
              <span class="status-text">Pendiente</span>
            </div>
          </article>
        </div>
        
        <button class="btn-view-all">Ver todas</button>
      </aside> -->
    </div>
  </div>
</section>