<section class="user-selection">
  <div class="container">
    <h2 class="selection-title">Elección Tipo de Usuario</h2>
<p class="selection-subtitle">Selecciona tu perfil para disfrutar de una experiencia diseñada a tu medida.</p>
    
    <div class="card-grid">
      <div class="user-card">
        <div class="card-accent"></div>
        <div class="card-content">
          <div class="icon-circle">
            <i class="fa-solid fa-house-user"></i>
          </div>
          <h3>Propietario</h3>
          <p>Gestiona y publica alojamientos para estudiantes de forma sencilla.</p>
          <a href="/registro/propietario" class="btn-modern">Acceder</a>
        </div>
      </div>

      <div class="user-card">
        <div class="card-accent"></div>
        <div class="card-content">
          <div class="icon-circle">
            <i class="fa-solid fa-user-graduate"></i>
          </div>
          <h3>Estudiante</h3>
          <p>Encuentra piso cerca de tu universidad,con la mejor compañia.</p>
          <a href="/registro/estudiante" class="btn-modern">Acceder</a>
        </div>
      </div>
    </div>
  </div>
</section>