<div class="login-container">
  <div class="login-left">
    <a routerLink="/home" class="logo-link">
      <div class="brand-container">
        <div class="logo-univibe-serif" routerLink="/home">U</div>
      </div>
    </a>

    <div class="login-form-content">
      <h1>Bienvenido</h1>
      <p class="subtitle">Nos encanta tenerte de vuelta.</p>

      <form>
        <div class="input-group">
          <label>Email</label>
          <input type="email" placeholder="Enter your email">
        </div>

        <div class="input-group">
          <label>Contraseña</label>
          <input type="password" placeholder="••••••••">
        </div>



        <button type="submit" class="btn-login">Iniciar Sesión</button>
      </form>

      <p class="signup-prompt">
        ¿No tienes cuenta? <a routerLink="/registro">Registrate</a>
      </p>
    </div>
  </div>

  <div class="login-right">
    <div class="right-content">
      <h2>Convivencia inteligente, sin sorpresas</h2>
      <p>Únete a la comunidad donde encontrar el piso ideal es solo el principio de una gran historia.</p>
    </div>
  </div>
</div>