<div class="error-hero">
  

  <div class="error-content">
    <h1 class="error-code">404</h1>
    <h2 class="main-title">¿Te has perdido?</h2>
    <p class="main-subtitle">
      Parece que la habitación o página que buscas no está disponible en nuestro catálogo en este momento.
    </p>
    <div class="error-actions">
      <button routerLink="/home" class="btn-explore">Volver al Inicio</button>
      <button routerLink="/login" class="btn-text">Iniciar Sesión</button>
    </div>
  </div>

  <div class="bg-pattern"></div>
</div>