<div class="wrapper-solicitudes">
  <app-header-propietario></app-header-propietario>
  <main class="app-container no-scroll">
    <div class="solicitudes-wrapper">
      <div class="header-gestion" @enterExtraInfo>
        <div class="section-title-modern">
          <h2>Publicar Inmueble</h2>
        </div>

        <div class="info-alert-modern">
          <div class="info-icon">
            <i class="fa-solid fa-circle-info"></i>
          </div>
          <div class="info-text">
            <p>
              ¡Crea el anuncio perfecto! Rellena los datos con detalle y sube fotos luminosas.
              Cuanta más información des, más fácil será hacer <strong>match</strong> con el
              inquilino ideal.
            </p>
          </div>
        </div>
      </div>

      <section class="main-card solicitudes-card full-screen-layout" @enterInfo>
        <div class="publish-form-grid">
          <div class="form-left-column">
            <h3 class="subsection-title">Información Básica</h3>

            <div class="input-row">
              <div class="input-group">
                <label>Título del anuncio</label>
                <input type="text" placeholder="Ej. Piso luminoso en zona universitaria" [(ngModel)]="inmData.titulo"(input)="validarTitulo()" />
                <span *ngIf="!tituloValido" class="error-msg">El título es demasiado corto (mínimo 5 caracteres).</span>
              </div>
            </div>

            <div class="input-row two-cols">
              <div class="input-group">
                <label>Precio (€/mes)</label>
                <input type="number" placeholder="Ej. 450" [(ngModel)]="inmData.precio"  (input)="validarPrecio()" />
                <span *ngIf="!precioValido" class="error-msg">El precio debe ser mayor a 0.</span>
              </div>
              <div class="input-group">
                <label>Capacidad</label>
                <input type="number" placeholder="Nº Pers." min="1" [(ngModel)]="inmData.n_personas"  (input)="validarCapacidad()"/>
                <span *ngIf="!personasValido" class="error-msg">La capacidad debe ser de al menos 1 persona.</span>
              </div>

            </div>
            <div class="input-row two-cols">
              <div class="input-group">
                <label>Habitaciones</label>
                <input type="number" placeholder="Ej. 4" [(ngModel)]="inmData.habitaciones" (input)="validarHabitaciones()"  />
                <span *ngIf="!habitacionesValido" class="error-msg">Indique el número de habitaciones.</span>
              </div>
              <div class="input-group">
                <label>Numero de baños</label>
                <input type="number" placeholder="Nº baños." min="1" [(ngModel)]="inmData.banios" (input)="validarBanios()"  />
                <span *ngIf="!baniosValido" class="error-msg">Indique el número de baños.</span>
              </div>

            </div>
            <div class="input-row two-cols">
              <div class="input-group">
                <label>Metros²</label>
                <input type="number" placeholder="Ej. 90" [(ngModel)]="inmData.metros" (input)="validarMetros()" />
                <span *ngIf="!metrosValido" class="error-msg">Los metros cuadrados deben ser mayores a 0.</span>
              </div>

            </div>

            <div class="input-group">
              <label>Descripción</label>
              <textarea placeholder="Cuenta qué hace especial a tu piso (habitaciones amplias, buen ambiente, etc.)..."
                [(ngModel)]="inmData.desc" (input)="validarDescripcion()"></textarea>
              <span *ngIf="!descValido" class="error-msg">La descripción debe tener al menos 20 caracteres.</span>
            </div>

            <h3 class="subsection-title mt-4">Ubicación</h3>

            <div class="input-group">
              <label>Universidad de referencia</label>
              <select [(ngModel)]="inmData.universidad_id" (change)="validarUniversidad()">
                <option value="" disabled selected>Selecciona la universidad más cercana</option>
                <option *ngFor="let uni of universidades" value="{{uni.id}}">{{uni.nombre}} ({{uni.ciudad}})</option>

              </select>
              <span *ngIf="!universidadValido" class="error-msg">Debe seleccionar una universidad.</span>
            </div>

            <div class="input-row">
              <div class="input-group">
                <label>Dirección exacta</label>
                <input type="text" placeholder="Calle, número, ciudad..." [(ngModel)]="inmData.direccion"  (input)="validarDireccion()"/>
                <span *ngIf="!direccionValido" class="error-msg">La dirección debe tener al menos 10 caracteres.</span>
              </div>
            </div>


          </div>

          <div class="form-right-column">
            <h3 class="subsection-title">Galería de Fotos</h3>

            <label class="upload-placeholder">
              <input type="file" style="display: none;">
              <i class="fa-solid fa-cloud-arrow-up"></i>
              <span>Subir foto principal</span>
            </label>
            <div class="upload-grid-mini">
              <label class="upload-box-mini">
                <input type="file" accept="image/*">
                <i class="fa-solid fa-plus"></i>
              </label>

              <label class="upload-box-mini">
                <input type="file" accept="image/*">
                <i class="fa-solid fa-plus"></i>
              </label>

              <label class="upload-box-mini">
                <input type="file" accept="image/*">
                <i class="fa-solid fa-plus"></i>
              </label>

              <label class="upload-box-mini">
                <input type="file" accept="image/*">
                <i class="fa-solid fa-plus"></i>
              </label>
            </div>

            <div class="form-actions">
              <button type="button" class="btn-cancel" (click)="limpiar()">Limpiar</button>
              <button type="submit" class="btn-publish" [disabled]="!permitirBtnPost"  (click)="postInmueble()">Publicar Anuncio</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>