<div class="wrapper-atributos">
  <app-header></app-header>

  <main class="app-container">
    <div *ngIf="loading" class="loader"></div>

    <ng-container *ngIf="!loading">
      <div class="layout-grid" *ngIf="!noInfo; else elseBlock">
        <section
          class="main-card image-area"
          [@swipeAnimacion]="estadoAnimacion"
          *ngIf="mostrandoCard"
        >
          <div class="price-tag">{{ inmuebles.precio }} €</div>

          <div class="image-wrapper">
            <img
              [src]="urlImagenes + imagenMostrar"
              alt="Piso moderno"
              [@imageAnimation]="indexImage"
            />

            <button class="nav-arrow left" (click)="loadPhoto('previa')">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="nav-arrow right" (click)="loadPhoto('siguiente')">
              <i class="fa-solid fa-chevron-right"></i>
            </button>

            <div class="quick-actions floating">
              <button class="action-btn heart" (click)="iniciarAnimacion('derecha')">
                <i class="fa-solid fa-heart"></i>
              </button>
              <button class="action-btn dismiss" (click)="iniciarAnimacion('izquierda')">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
            <div *ngIf="inmuebles">
              <span class="owner-label" [routerLink]="'/perfil/' + inmuebles.propietario_id">{{
                inmuebles.nombre_propietario
              }}</span>
            </div>
          </div>
        </section>

        <aside class="main-card info-area modern-info" *ngIf="mostrandoCard">
          <div class="info-header" *ngIf="inmuebles" [@enterInfo]="estadoAnimacion">
            <h1>{{ inmuebles.titulo }}</h1>
            <div class="title-divider"></div>
          </div>
          <span class="category-badge" style="margin-top: 20px" [@enterInfo]="estadoAnimacion"
            >Características</span
          >
          <div class="quick-stats" [@enterInfo]="estadoAnimacion">
            <div class="stat-item">
              <i class="fa-solid fa-bed"></i>
              <span>{{ inmuebles.habitaciones }} hab.</span>
            </div>
            <div class="stat-item" [@enterInfo]="estadoAnimacion">
              <i class="fa-solid fa-bath"></i>
              <span>{{ inmuebles.banios }} baños</span>
            </div>
            <div class="stat-item" [@enterInfo]="estadoAnimacion">
              <i class="fa-solid fa-users"></i>
              <span>Máx. {{ inmuebles.n_personas }}</span>
            </div>
          </div>
          <span class="category-badge" [@enterInfo]="estadoAnimacion">Información</span>
          <div class="details-grid" [@enterInfo]="estadoAnimacion">
            <div class="detail-card" [@enterInfo]="estadoAnimacion">
              <div class="icon-box"><i class="fa-solid fa-location-dot"></i></div>
              <div class="content">
                <h3>LOCALIZACIÓN</h3>
                <p>{{ inmuebles.direccion }}</p>
              </div>
            </div>

            <div class="detail-card" [@enterInfo]="estadoAnimacion">
              <div class="icon-box"><i class="fa-solid fa-graduation-cap"></i></div>
              <div class="content">
                <h3>CERCA DE</h3>
                <p>{{ inmuebles.nombre_universidad }}</p>
              </div>
            </div>

            <div class="detail-card full-width" [@enterInfo]="estadoAnimacion">
              <div class="icon-box"><i class="fa-solid fa-align-left"></i></div>
              <div class="content">
                <h3>DESCRIPCIÓN</h3>
                <p>{{ inmuebles.descripcion }}</p>
              </div>
            </div>
          </div>
          <div class="detail-item tip-card" [@enterInfo]="estadoAnimacion">
            <div class="alert-content">
              <i class="fa-solid fa-lightbulb"></i>
              <div>
                <h3>RECOMENDACIÓN</h3>
                <p>¡Dale a 'Like' para guardar este piso en tus solicitudes y no perderlo!</p>
              </div>
            </div>
          </div>
        </aside>
      </div>

      <ng-template #elseBlock>
        <div class="no-info-container" @swipeAnimacion>
          <img src="/assets/img/sad-house.png" alt="Sin resultados" class="sad-img" />

          <div class="info-text">
            <h2 class="gradient-text">Oops...</h2>
            <p class="main-message">
              Parece que ya has visto todas las casas disponibles por ahora. ¡Vuelve más tarde para
              descubrir nuevos pisos!
            </p>
            <p class="sub-message">
              Esta casita se ha puesto triste porque no tiene más amigas que enseñarte.
            </p>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </main>
</div>
