
<div class="wrapper-atributos">
 <app-header></app-header>

<main class="app-container">
  
  <div class="layout-grid">
    <section class="main-card image-area">
      <!-- ANIMACION IZQUIERDA CUANDO LIKE Y DERECHA CON DISLIKE -->
  <div class="price-tag">{{inmuebles.precio}} €</div>
  
  <div class="image-wrapper">
    <img src="https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200" alt="Piso moderno">
    
    <button class="nav-arrow left"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="nav-arrow right"><i class="fa-solid fa-chevron-right"></i></button>

    <div class="quick-actions floating">
      <button class="action-btn heart" (click)="nextHouseLike()" ><i class="fa-solid fa-heart"></i></button>
      <button class="action-btn dismiss"  (click)="nextHouseDislike()" ><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div *ngIf="inmuebles">
      <span class="owner-label">{{inmuebles.nombre_propietario}}</span>
    </div>
     
  </div>

</section>

    <aside class="main-card info-area">
    

      <div class="info-header" *ngIf="inmuebles">
        <h1>{{inmuebles.titulo}}</h1>
        <div class="underline"></div>
      </div>

      <div class="details-list">
        <div class="detail-item">
        <h3>LOCALIZACIÓN</h3>
          <p>{{inmuebles.direccion}}</p>
        </div>

        <div class="detail-item">
          <h3>DESCRIPCION</h3>
          <p>{{inmuebles.descripcion}}</p>
        </div>
        <div class="detail-item">
          <h3>CERCA DE</h3>
          <p>{{inmuebles.nombre_universidad}}</p>
        </div>
        
        <div class="detail-item">
          <h3>NORMAS</h3>
          <p>Prohibido fumar</p>
        </div>
        

        <div class="detail-item">
          <h3>COMPAÑEROS</h3>
          <div class="vibe-dots">
            <span class="dot b-blue"></span>
            <span class="dot b-accent"></span>
            <span class="dot b-gray"></span>
          </div>
        </div>
      </div>
    </aside>
  </div>

</main>

</div>