<section class="profile-section">
  <div class="app-container">
    <div class="profile-container">
 
        <div class="profile-main-card" *ngIf="perfil">
          <div class="profile-header">
            <div class="avatar-wrapper">
              <img
                src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
                alt="Foto de perfil"
                class="profile-img"
              />

              <button class="btn-edit-photo" *ngIf="isEditing">
                <i class="fa-solid fa-camera"></i>
              </button>
            </div>

            <div class="profile-intro">
              <ng-container *ngIf="!isEditing">
                <h2>{{ perfil.nombre }}</h2>

                <div class="profile-badges"></div>
              </ng-container>

              <ng-container *ngIf="isEditing">
                <h2>Editando Perfil</h2>
                <p>Actualiza tu información pública</p>
              </ng-container>
            </div>

            <button class="btn-edit-profile" (click)="toggleEdit()">
              <i class="fa-solid" [class.fa-pen]="!isEditing" [class.fa-xmark]="isEditing"></i>
              {{ isEditing ? 'Cancelar' : 'Editar' }}
            </button>
          </div>

          <div class="profile-info-grid">
            <div class="info-group">
              <label>Correo Electrónico</label>
              <div class="data-box" *ngIf="!isEditing">
                <i class="fa-regular fa-envelope"></i>
                <p>{{ perfil.email }}</p>
              </div>
              <input *ngIf="isEditing" type="email" class="input-modern" value="alex@univibe.com" />
            </div>

            <div class="info-group">
              <label>Teléfono</label>
              <div class="data-box" *ngIf="!isEditing">
                <i class="fa-solid fa-phone"></i>
                <p>{{ perfil.telefono }}</p>
              </div>
              <input *ngIf="isEditing" type="tel" class="input-modern" value="+34 600 123 456" />
            </div>

            <div class="info-group">
              <label>Universidad</label>
              <div class="data-box highlight" *ngIf="!isEditing">
                <i class="fa-solid fa-graduation-cap"></i>
                <p>{{ perfil.nombre_universidad }}</p>
              </div>
              <div class="select-wrapper" *ngIf="isEditing">
                <i class="fa-solid fa-graduation-cap input-icon"></i>
                <select class="input-modern with-icon">
                  <option selected>Universidad de Granada (UGR)</option>
                  <option>Universidad de Sevilla</option>
                  <option>Complutense de Madrid</option>
                </select>
              </div>
            </div>

            <div class="info-group">
              <label>Carrera / Grado</label>
              <div class="data-box" *ngIf="!isEditing">
                <i class="fa-solid fa-book"></i>
                <p>{{ perfil.nombre_carrera }}</p>
              </div>
              <input
                *ngIf="isEditing"
                type="text"
                class="input-modern"
                value="Ingeniería Informática"
              />
            </div>
            <div class="separator"></div>
            <div class="info-group full-width desc-info">
              <label>Sobre Mí</label>
              <div class="info-group" *ngIf="!isEditing">
                <p class="data-box">{{ perfil.descripcion }}</p>
              </div>

              <div class="data-box bio-box" *ngIf="isEditing">
                <input
                  *ngIf="isEditing"
                  class="input-modern bio-input"
                  value="Me considero una persona tranquila pero sociable. Me gusta mantener las zonas comunes limpias y cocinar los fines de semana. Busco compañeros de piso con buen rollo."
                />
              </div>
            </div>
            <div class="social-section">
              <label class="section-title">ENCUENTRAME</label>

              <div class="social-bento-grid">
                <a href="#" class="bento-item instagram">
                  <div class="bento-icon">
                    <i class="fa-brands fa-instagram"></i>
                  </div>
                  <div class="bento-info">
                    <span class="bento-label">Instagram</span>
                  </div>
                </a>

                <a href="#" class="bento-item spotify">
                  <div class="bento-icon">
                    <i class="fa-brands fa-spotify"></i>
                  </div>
                  <div class="bento-info">
                    <span class="bento-label">Spotify</span>
                  </div>
                </a>

                <a href="#" class="bento-item twitter">
                  <div class="bento-icon">
                    <i class="fa-brands fa-x-twitter"></i>
                  </div>
                  <div class="bento-info">
                    <span class="bento-label">Twitter / X</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div *ngIf="isEditing">
            <button class="btn-back" style="width: 230px; padding: 15px">Guardar Cambios</button>
          </div>

          <button class="btn-back" *ngIf="!isEditing" [routerLink]="previousUrl">
            <i class="fa-solid fa-arrow-left-long"></i>
            <p>Volver</p>
          </button>
        </div>
        <aside class="profile-sidebar-card">
          <div class="sidebar-header">
            <h3>Vibe & Estilo de Vida</h3>
            <span class="counter">{{ atributosUsuario.length }}</span>
          </div>

          <div class="attributes-container" *ngIf="atributosUsuarioObject">
            <span class="attribute-pill" *ngFor="let atr of atributosUsuarioObject">
              <i class="material-symbols-outlined">{{ atr.icono }}</i> {{ atr.nombre }}
            </span>
          </div>
        </aside>
      </div>
    </div>

</section>
